#root {
  height: 100%;
}

html,
body {
  min-height: 100%;
  background-color: #7eabff;
  height: 100%;
}

a,
html,
body {
  color: #062c70;
}

.xj-footer {
  background-color: #070020;
  padding: 0.3em;
  margin: 1em 0 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  width: 100%;
}

.xj-footer > p {
  margin: 0.5em 4%;
}

.xj-footer > .left {
  margin-right: auto;
}

.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 85%;
}

/* desktop size: 3 columns */
.xj-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 calc(33% - 2em);
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.3),
    0 0.5em 1em 0 rgba(0, 0, 0, 0.3);
  margin: 1em 1em 1em 1em;
  color: #062c70;
}

.xj-card:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.3), 0 1em 2em 0 rgba(0, 0, 0, 0.3);
}

.xj-card > p {
  flex-grow: 1;
  text-align: justify;
  padding: 1em;
  margin-bottom: 0px;
}

.xj-card > p {
  text-indent: 1em;
}

.xj-card > h4 > a:link {
  color: #062c70;
  text-decoration: none;
}

.xj-card > h4 > a:visited {
  color: #062c70;
}

.xj-card > h4 > a:hover {
  color: #7eabff;
}

.xj-card > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.xj-labels-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.xj-card > .xj-label,
.xj-labels-row > .xj-label {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: solid thin;
  border-color: #062c70;
  border-radius: 0.5em;
  align-items: center;
  margin: 0.3em;
}

/* logo swapping when hovered over */
/* if not hovered, hide this version */
.logo_swapping .logo_hover,
.logo_swapping:hover .logo_passive,
.logo_swapping:active .logo_passive {
  display: none;
}
.logo_swapping:hover .logo_hover,
.logo_swapping:active .logo_hover {
  display: block;
}

/* .flex-row {
  flex-flow: row wrap;
}

.flex-column {
  flex-flow: column wrap;
} */

/* tablet size: 2 columns */
@media screen and (max-width: 949px) {
  .cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
  }

  .xj-card {
    flex: 0 1 calc(50% - 3em);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

/* phone size: 1 column */
@media screen and (max-width: 639px) {
  .xj-card {
    flex: 0 1 calc(100% - 3em);
  }
}

.container {
  width: 90%;
  padding: 10px 15px;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-bottom: 0.4em;
}

.navbar-inverse {
  border-radius: 0px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.3),
    0 0.5em 1em 0 rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  padding: 3px 14px;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:active .icon-bar {
  background-color: #fff;
}

.navbar,
.navbar-default {
  background-image: linear-gradient(
    to bottom,
    #0e0140 0,
    #070020 100%
  ) !important; /* override background image gradient */
}

.navbar-inverse .navbar-brand {
  color: #7eabff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
}
.navbar-inverse .navbar-text {
  color: #7eabff;
}

.xj-footer > p,
.xj-footer > p > a,
.navbar-inverse .navbar-nav > li > a {
  color: #7eabff;
  text-decoration: none;
}

.xj-footer > p > a:hover,
.xj-footer > p > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #7eabff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
  border-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #7eabff;
}
.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #7eabff;
  margin-top: 0.7em;
}
.navbar-inverse .navbar-link {
  color: #7eabff;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #7eabff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #062c70;
  }
}
