html,
body {
  min-height: 100%;
  background-color: #7eabff;
  height: 100%;
}

h3 {
  color: #7eabff;
}

.container {
  width: 90%;
}

a,
html,
body {
  color: #062c70;
}

.navbar-inverse {
  border-radius: 0px;
}

.xj-footer {
  /* background-color: #fff7d3; */
  background-color: #7eabff;
  padding: 1em;
  margin: 1em 0 1em 0;
  width: 100%;
  color: #062c70;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 85%;
  /* flex-grow: 1; */
}

.xj-card {
  /* flex: 0 1 22%; */
  flex: 0 1 calc(33% - 3em);
  background-color: #fff;
  border-radius: 1em;
  /* webkit-box-shadow: 0 10px 6px -6px #777;
  moz-box-shadow: 0 10px 6px -6px #777; */
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.3),
    0 0.5em 1em 0 rgba(0, 0, 0, 0.3);
  margin: 1em 1em 1em 1em;
  color: #062c70;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.xj-card > h4 {
  margin: 0.6em auto;
  max-height: 1em;
}

.xj-card > p {
  flex-grow: 1;
  text-align: justify;
  padding: 1em;
  margin-bottom: 0px;
}

.xj-card:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.3), 0 1em 2em 0 rgba(0, 0, 0, 0.3);
}

.xj-card > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.flex-row {
  flex-flow: row wrap;
}

.flex-column {
  flex-flow: column wrap;
}

#root {
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  padding: 7px 14px;
}

/* logo swapping when hovered over */
/* if not hovered, hide this version */
.logo_swapping .logo_hover {
  display: none;
}
.logo_swapping:hover .logo_passive,
.logo_swapping:active .logo_passive {
  display: none;
}
.logo_swapping:hover .logo_hover,
.logo_swapping:active .logo_hover {
  display: block;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:active .icon-bar {
  background-color: #fff;
}

.navbar,
.navbar-default {
  background-image: linear-gradient(
    to bottom,
    #0e0140 0,
    #070020 100%
  ) !important; /* override background image gradient */
}

.navbar-inverse .navbar-brand {
  color: #7eabff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
}
.navbar-inverse .navbar-text {
  color: #7eabff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #7eabff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #7eabff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #062c70;
  border-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #7eabff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #7eabff;
}
.navbar-inverse .navbar-link {
  color: #7eabff;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #7eabff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #062c70;
  }
}
